.features-section {
  width: 100%;
  height: 665px;
  border: 1px solid #000;
  background-color: #1c1e53;
  border-top: unset;
  .center {
    width: 84%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 60px;
    .left {
      width: 562px;
      height: 332px;
      margin-top: 167px;
      & h1 {
        width: 468px;
        color: #fff;
        font-family: Poppins;
        font-size: 54px;
        font-style: normal;
        font-weight: 600;
        line-height: 74px;
      }
      & p {
        width: 562px;
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        opacity: 0.7;
        margin: 32px 0;
      }
      & button {
        width: 200px;
        height: 64px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #fcd980;
        border-radius: 41px;
        & a {
          width: inherit;
          height: inherit;
          text-decoration: none;
          color: #282938;
          font-family: Manrope;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 64px;
        }
      }
    }
    .right {
      width: 639px;
      height: 409px;
      margin-top: 128px;
    }
  }
}
.logosection1 {
  width: 1280px;
  height: 84px;
  margin: 96px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  
  .number {
    width: 176px;
    height: 84px;
    & h3 {
      width: 176px;
      color: #282938;
      font-family: Poppins;
      font-size: 38px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px;
    }
    & p {
      width: 124px;
      color: #282938;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      opacity: 0.7;
    }
  }
  .logo {
    width: 1015px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    & a {
      text-decoration: none;
    }
  }
}
